$gold: #c0ab77;
$lightGold: #f4eede;
$black: black;
html {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: initial;
}
body {
  background: {
    color: $lightGold;
    image: url(../img/bg-uzor-8.png);
    size: contain;
  }
}

.fa-solid {
  position: absolute;
  font-size: 24px;
  color: $lightGold;
  top: 10px;
  right: 10px;
  z-index: 2;
}
.active {
  transition: 1s;
  transform: translateX(0);
}
.header {
  .logo {
    position: relative;
  }
  .logo img {
    width: 100%;
  }
  .nav {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50%;
    transform: translateX(150%);
    transition: 3s;
    background-color: $lightGold;
    display: none;

    .nav_menu {
      .nav__item {
        margin: 12px;
        padding: 10px 20px;
        border-left: 3px solid $gold;
        background-color: lightgray;
      }
    }
  }
}

.banner {
    margin-bottom: 16px;
  .banner-img {
    position: absolute;
    transition: 2s;
    max-width: 100%;
  }
  .banner-img3 {
      max-width: 100%;
  }
 
}
.events {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    text-align: center;
}

.event {
    margin: 12px auto;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.882);
    text-align: center;
    border-radius: 4px;
}

.event__img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 2px 2px 5px lightgray;
}
.event__name {
    color: $gold;
    font-size: 18px;
    margin-bottom: 4px;
}
.event__info {
    text-align:center;
}
// .news {
// }
// .news__item {
// }
// .news__item-col1 {
// }
// .news__item-col2 {
// }
// .news__item-date {
// }
// .news__item-name {
// }
// .news__item-text {
// }
// .news__item-link {
// }
